openapi: 3.0.3
info:
  title: Jobmatcher API
  version: 0.1.0
  description: Initial API contract scaffolded from the JobMatch AI PRD.
servers:
  - url: https://jobmatcher.qzz.io/api
paths:
  /auth-login:
    post:
      summary: Sign in with server-side rate limiting.
      description: Verifies credentials through Supabase Auth and returns a browser session token pair after IP/email throttles pass.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Signin succeeded.
        '401':
          description: Invalid credentials.
        '429':
          description: Too many attempts.
  /auth/register:
    post:
      summary: Create a user account.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered.
  /password-reset:
    post:
      summary: Send a custom Brevo password reset email.
      description: Generates a Supabase recovery token server-side and sends a branded Jobmatcher recovery link through Brevo.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PasswordResetRequest'
      responses:
        '202':
          description: Reset request accepted without exposing whether the account exists.
  /delete-account:
    post:
      summary: Permanently delete the authenticated user account.
      description: Requires a bearer session, current password, matching email, and DELETE confirmation text.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteAccountRequest'
      responses:
        '200':
          description: Account deleted.
        '401':
          description: Missing, expired, or invalid credentials.
        '429':
          description: Too many deletion attempts.
  /account-profile:
    patch:
      summary: Update the authenticated user's account profile.
      description: Updates name, login email, and avatar. Changing email requires the current password.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountProfileRequest'
      responses:
        '200':
          description: Account profile updated.
        '401':
          description: Missing, expired, or invalid credentials.
        '429':
          description: Too many update attempts.
  /cv/upload:
    post:
      summary: Upload a PDF or DOCX CV and queue AI parsing.
      responses:
        '201':
          description: CV queued for parsing.
  /parse-cv:
    post:
      summary: Parse a CV upload locally without an AI provider.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: PDF, DOCX, DOC, or TXT CV up to 5MB.
      responses:
        '200':
          description: Parsed CV text, skills, experience, education, certifications, and warnings.
  /jobs:
    get:
      summary: List scored jobs with filters.
      parameters:
        - in: query
          name: score_min
          schema:
            type: integer
            minimum: 0
            maximum: 100
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: sort
          schema:
            type: string
            enum: [score, date, salary, company]
      responses:
        '200':
          description: Paginated scored jobs.
  /applications:
    get:
      summary: List user applications.
      responses:
        '200':
          description: Applications returned.
    post:
      summary: Record a job application.
      responses:
        '201':
          description: Application recorded.
  /dashboard/stats:
    get:
      summary: Return dashboard KPI widgets.
      responses:
        '200':
          description: Dashboard stats.
  /admin/health:
    get:
      summary: Return admin system health.
      responses:
        '200':
          description: Health snapshot.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Supabase JWT
  schemas:
    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 1
    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 12
        name:
          type: string
    PasswordResetRequest:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
    DeleteAccountRequest:
      type: object
      required: [email, password, confirmation]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 1
        confirmation:
          type: string
          enum: [DELETE]
    AccountProfileRequest:
      type: object
      required: [name, email]
      properties:
        name:
          type: string
          maxLength: 160
        email:
          type: string
          format: email
        avatarUrl:
          type: string
          nullable: true
          description: HTTPS URL or resized image data URL.
        currentPassword:
          type: string
          description: Required when changing email.
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
